*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Raleway', sans-serif;
}
/* similar button style */
.btn-primary{
    background-color: #4E47FF;
    color: #FFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}

.banner{
    background-image: url(../Assets/Hero-bg.png);
    height: 70vh;
    width: 100%;
    padding: 50px 150px 200px 0px;

}

/* header nav */
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;

}
nav h3{
    font-size: 40px;
    color: #4E47FF;
    font-weight: bold;
}

.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 158px 267px  267px ;

}
.banner-content h3{
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 40px;
}

main{
    background-color: #f7f4f9;
}

/* Baba -1 style  */
.baba-1{
    display: flex;
    justify-content: space-between;
    padding: 157px 140px 157px 160px;
    align-items: center;

}

.web-22{
    border-radius: 48px;
}

/* similar text*/

.h2-all{
    padding-bottom: 23px;
    font-size:42px;
    font-weight: bold;
}
.p-all{
    padding-bottom: 23px;
    font-size:24;
    color: #909098 ;
}

/* baba-2 */
.baba-2{
    padding: 157px 140px 157px 160px;
    align-items: center;

}
.baba-2-in{
    padding: 50px 80px 50px 80px;
    align-items: center;
    background-color:#e4e4ff ;
    border-radius: 20px;
}

.baba-2 h2{
    text-align: center;
    
}
.baba-2 h1{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.baba-2 p{
    font-size: 20px;
    color: #909098 ;
}

.baba-2-users{
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

/* baba-3 */

.baba-3{
    padding: 157px 40px 157px 60px;
    border: none;
    align-items: center;

}

.baba-3 h2{
    text-align: center;
}

.users-say{
    display: flex;
    justify-content: space-around;
    padding: 24px;


}
.h3-all{
    padding-bottom: 8px;
}

.same{    
    flex-direction: column;
    padding-top: 50px;
    padding: 40px 40px;
    border: none;
    background-color:#FFFFFF;
    border-radius: 5px;

}
.icon{
    display: flex;
    padding-bottom: 24px;
}

.pic-name{
    display: flex;
    gap: 6px;
}
.dark-1{
    color: #757575;
}
.dark-2{
    color: #B3B3B3;
}
.user-img{
    size: 40px 40px;
}
.user-say{
    padding-bottom: 24px;
}

/* baba-4 */

.baba-4{
    padding: 50px 140px 135px 160px;
    border: none;
    align-items: center;

}
.babar-chele{
    text-align: center;
    background-color: #fff;
    padding: 71px 150px 71px 150px;
}

.p-4{
    padding-top: 20px;
    padding-bottom: 20px;
}
.h1-4{
    padding-top: 71px;
}
.pic-baba-4{
    height: 360;
    width: 840;
    border-radius: 48px;
    padding-top: 20px;
    
}

/* baba-5 */
.baba-5{
    padding: 50px 140px 135px 160px;
    border: none;
    align-items: center;

}
.babar-chele-5{
    display: flex;
    justify-content: space-between;
}
.form-5{
    padding-top: 71px;
    padding-bottom: 71px;
    
    width: 497px;
    height: 497px;
}

.h1-5{
    font-size: 97px;
    font-weight: bold;
}