*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Raleway', sans-serif;
}
.btn-primary{
    background-color: #4E47FF;
    color: #FFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}

.banner{
    background-image: url(../Assets/Hero-bg.png);
    height: 70vh;
    width: 100%;
}

/* header nav */
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;

}
nav h3{
    font-size: 34px;
    color: #4E47FF;
    font-weight: bold;
}

.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 158px 267px 0px 267px ;

}
.banner-content h3{
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 40px;
}

.baba-1{
    display: flex;
    justify-content: space-between;
    padding: 157px 140px 157px 160px;
    align-items: center;

}

.web-22{
    border-radius: 48px;
}

.h2-all{
    padding-bottom: 23px;
    font-size:42px;
    font-weight: bold;
}
.p-all{
    padding-bottom: 23px;
    font-size:24;
    color: #252432;
}








